.changli {
    height: 70vh;
    margin-top: -40.4vh;
    border-radius: 8px;
    position: fixed;
}

.cardc {
    position: relative;
    width: 37%;
    height: 70vh;
    margin: 8vh 0 0 100px;
    padding: 1rem;
    border-radius: 15px;
    background-color: transparent;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
    transition: all 0.7s ease;
}


.cardc:hover {
    width: 39%;
    background-color: rgba(110, 0, 0, 0.34);
}


.nome,
.atk,
.def,
.re,
.tc,
.dc,
.hp,
.b,
a {
    margin-left: 58%;
    color: transparent;
    transition: color 0.3s ease;
    overflow: hidden;
}

.cardc:hover .nome,
.cardc:hover .atk,
.cardc:hover .def,
.cardc:hover .re,
.cardc:hover .tc,
.cardc:hover .dc,
.cardc:hover .hp,
.cardc:hover .b,
.cardc:hover a {
    color: #000;
}

a {
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #333;
}
